Repository MovingBlocks/Terasology, pull requests merged in 2021-07, with the labels that each got.

#4806 test: mockito inline for modules
  build-logic/src/main/kotlin/terasology-module.gradle.kts
  engine-tests/build.gradle
  subsystems/TypeHandlerLibrary/build.gradle.kts
Labels: Category: Test/QA, Size: S

#4807 test: make parts of PathManagerProvider public for use by MTE
  build-logic/src/main/kotlin/terasology-module.gradle.kts
  engine-tests/src/main/java/org/terasology/engine/core/PathManagerProvider.java
Labels: Category: Test/QA, Size: S, Topic: Stabilization

#4808 build(IntelliJ): update annotation paths and other configurations
  .idea/.gitignore
  .idea/dictionaries/kevint.xml
  .idea/misc.xml
Labels: Category: Build/CI, Size: S, Type: Chore

#4815 chore(rendering): cleanup and remove deprecated glDisabled
  engine/src/main/java/org/terasology/engine/core/subsystem/lwjgl/LwjglGraphicsUtil.java
  engine/src/main/java/org/terasology/engine/rendering/world/WorldRendererImpl.java
Labels: Topic: Rendering, Type: Chore

#4817 chore: remove unecessary cast
  engine/src/main/java/org/terasology/engine/core/modes/loadProcesses/InitialiseRemoteWorld.java
Labels: Type: Chore

#4802 feat(noise): Add domain rotation to mitigate Perlin squareness
  engine/src/main/java/org/terasology/engine/utilities/procedural/PerlinNoise.java
Labels: Topic: WorldGen, Type: Improvement

#4809 refactor(GameState): extract common code from MainMenu and HeadlessSetup
  engine/src/main/java/org/terasology/engine/core/modes/AbstractState.java
  engine/src/main/java/org/terasology/engine/core/modes/StateLoading.java
  engine/src/main/java/org/terasology/engine/core/modes/StateMainMenu.java
  engine/src/main/java/org/terasology/engine/core/subsystem/headless/mode/StateHeadlessSetup.java
Labels: Size: S, Type: Refactoring

#4814 perf: avoid calling GLFW.glfwGetWindowSize
  engine/src/main/java/org/terasology/engine/core/subsystem/lwjgl/LwjglDisplayDevice.java
Labels: Category: Performance, Topic: Rendering

#4820 perf(network): replace de-/inflate with lz4 for both directions
  engine/build.gradle
  engine/src/main/java/org/terasology/engine/network/internal/pipelineFactory/InfoRequestPipelineFactory.java
  engine/src/main/java/org/terasology/engine/network/internal/pipelineFactory/TerasologyClientPipelineFactory.java
  engine/src/main/java/org/terasology/engine/network/internal/pipelineFactory/TerasologyServerPipelineFactory.java
Labels: Category: Performance, Multiplayer

#4812 build: avoid transitive dependency on org.reflections
  build-logic/src/main/kotlin/terasology-module.gradle.kts
  engine/build.gradle
Labels: Category: Build/CI, Size: S, Topic: Stabilization

#4821 perf: remove extra length prepend
  engine/src/main/java/org/terasology/engine/network/internal/pipelineFactory/InfoRequestPipelineFactory.java
  engine/src/main/java/org/terasology/engine/network/internal/pipelineFactory/TerasologyClientPipelineFactory.java
  engine/src/main/java/org/terasology/engine/network/internal/pipelineFactory/TerasologyServerPipelineFactory.java
Labels: Category: Performance

#4816 fix: resolve problems with gui editor
  engine/src/main/java/org/terasology/engine/rendering/assets/mesh/resource/IndexResource.java
  engine/src/main/java/org/terasology/engine/rendering/nui/editor/layers/AbstractEditorScreen.java
  engine/src/main/java/org/terasology/engine/rendering/nui/internal/LineRenderer.java
  engine/src/main/java/org/terasology/engine/rendering/nui/internal/LwjglCanvasRenderer.java
  engine/src/main/java/org/terasology/engine/rendering/opengl/OpenGLMesh.java
Labels: Topic: Rendering, Type: Bug

#4804 chore: remove url check when updating repositories
  config/groovy/common.groovy
Labels: Type: Chore

#4813 feat(ModuleManager): do not depend on PathManager to load modules from the classpath
  engine-tests/src/test/java/org/terasology/engine/core/module/ClasspathCompromisingModuleFactoryTest.java
  engine/src/main/java/org/terasology/engine/core/modes/loadProcesses/InitialiseWorld.java
  engine/src/main/java/org/terasology/engine/core/module/ClasspathCompromisingModuleFactory.java
  engine/src/main/java/org/terasology/engine/core/module/ModuleManager.java
Labels: Category: Test/QA, Size: M, Topic: Stabilization, Type: Improvement

#4818 feat: allow for ranged item activation
  engine/src/main/java/org/terasology/engine/logic/characters/CharacterSystem.java
  engine/src/main/java/org/terasology/engine/logic/characters/events/ActivationPredicted.java
  engine/src/main/java/org/terasology/engine/logic/characters/events/ActivationRequest.java
  engine/src/main/java/org/terasology/engine/logic/common/ActivateEvent.java
  engine/src/main/java/org/terasology/engine/logic/common/RangeComponent.java
  engine/src/main/java/org/terasology/engine/logic/players/LocalPlayer.java
Labels: Category: Doc, Category: Gameplay Content, Type: Improvement

#4830 test: deprecate WorldProvidingHeadlessEnvironment
  engine-tests/src/main/java/org/terasology/engine/Environment.java
  engine-tests/src/main/java/org/terasology/engine/HeadlessEnvironment.java
  engine-tests/src/main/java/org/terasology/engine/WorldProvidingHeadlessEnvironment.java
  engine-tests/src/test/java/org/terasology/engine/TerasologyTestingEnvironment.java
Labels: Category: Test/QA, Size: S

#4827 fix: flip first two verticies for double sided meshes
  engine/src/main/java/org/terasology/engine/rendering/primitives/Tessellator.java
Labels: Category: Build/CI, Topic: Rendering, Type: Bug

#4828 feat: restore biome-based grass and foliage tinting
  engine/src/main/java/org/terasology/engine/rendering/assets/texture/TextureData.java
  engine/src/main/java/org/terasology/engine/rendering/primitives/BlockMeshGeneratorSingleShape.java
  engine/src/main/java/org/terasology/engine/rendering/primitives/ChunkMesh.java
  engine/src/main/java/org/terasology/engine/world/block/Block.java
  engine/src/main/java/org/terasology/engine/world/block/BlockColorSource.java
  engine/src/main/java/org/terasology/engine/world/block/ColorProvider.java
  engine/src/main/java/org/terasology/engine/world/block/DefaultColorSource.java
  engine/src/main/java/org/terasology/engine/world/block/internal/BlockBuilder.java
  engine/src/main/java/org/terasology/engine/world/block/loader/BlockFamilyDefinitionFormat.java
  engine/src/main/java/org/terasology/engine/world/block/loader/SectionDefinitionData.java
  engine/src/main/java/org/terasology/engine/world/block/shapes/BlockMeshPart.java
Labels: Topic: Rendering, Topic: WorldGen, Type: Improvement
