Repository MovingBlocks/Terasology, pull requests merged in 2022-06, with the labels that each got.

#5028 feat(InjectionHelper): inject() returns the object for chaining
  engine-tests/src/test/java/org/terasology/engine/registry/InjectionHelperTest.java
  engine/src/main/java/org/terasology/engine/context/Context.java
  engine/src/main/java/org/terasology/engine/context/internal/ContextImpl.java
  engine/src/main/java/org/terasology/engine/registry/InjectionHelper.java
Labels: Type: Improvement, Size: S

#5040 test: add info logs to help track down sporadic
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/Engines.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/ClientConnectionTest.java
Labels: Topic: Stabilization, Category: Test/QA, Size: S, Type: Chore

#5027 build(checkstyle): update to version 10.2, update .idea to match
  .idea/checkstyle-idea.xml
  .idea/findbugs-idea.xml
  build-logic/src/main/kotlin/terasology-metrics.gradle.kts
  engine-tests/src/test/java/org/terasology/documentation/ApiScraper.java
  engine-tests/src/test/java/org/terasology/documentation/apiScraper/CompleteApiScraper.java
  engine-tests/src/test/java/org/terasology/engine/world/generation/facets/BooleanFacetTest.java
  engine-tests/src/test/java/org/terasology/math/IntegerRangeTest.java
  engine/src/main/java/org/terasology/engine/rendering/dag/RenderGraph.java
  engine/src/main/java/org/terasology/engine/rendering/dag/dependencyConnections/DependencyConnection.java
  engine/src/main/java/org/terasology/engine/rendering/nui/widgets/browser/ui/ParagraphRenderable.java
Labels: Category: Build/CI, Category: Test/QA, Size: S, Type: Chore

#5035 fix(templates): replace perlin with simplex as the default override.cfg
  templates/override.cfg
Labels: Type: Bug, Size: S

#5022 test: reducing logspam
  .idea/copyright/profiles_settings.xml
  Jenkinsfile
  build-logic/src/main/kotlin/terasology-metrics.gradle.kts
  build-logic/src/main/kotlin/terasology-module.gradle.kts
  config/groovy/module.groovy
  engine-tests/build.gradle
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/jupiter/MTEExtension.java
  engine-tests/src/main/resources/org/terasology/engine/integrationenvironment/jupiter/default-logback.xml
  engine-tests/src/test/resources/junit-platform.properties
  engine-tests/src/test/resources/logback-test.xml
  engine/build.gradle
  engine/src/main/java/org/terasology/logback/RegexEvaluator.java
  engine/src/main/java/org/terasology/logback/RegexFilterAction.java
  engine/src/main/java/org/terasology/logback/package-info.java
  engine/src/main/resources/org/terasology/engine/logback/filter-reflections.xml
  engine/src/main/resources/org/terasology/engine/logback/setup.xml
  facades/PC/build.gradle.kts
  facades/PC/src/main/resources/logback.xml
  templates/module.logback-test.xml
Labels: Category: Build/CI, Type: Improvement, Category: Test/QA, Size: S

#5036 fix(PathManager): allow paths to be symlinks
  engine/src/main/java/org/terasology/engine/core/PathManager.java
Labels: Type: Bug, Size: S

#5037 test: add NetworkMode setting to MTE
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/Engines.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/TestingStateHeadlessSetup.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/jupiter/IntegrationEnvironment.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/jupiter/MTEExtension.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/NetworkModeLocalServerTest.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/NetworkModeNoneTest.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/NetworkModeServerTest.java
  engine/src/main/java/org/terasology/engine/core/subsystem/headless/mode/StateHeadlessSetup.java
Labels: Type: Improvement, Category: Test/QA

#5033 chore: CoreRegistry removal from engine.network
  engine-tests/src/main/java/org/terasology/engine/HeadlessEnvironment.java
  engine/src/main/java/org/terasology/engine/context/internal/ContextImpl.java
  engine/src/main/java/org/terasology/engine/core/modes/StateLoading.java
  engine/src/main/java/org/terasology/engine/core/subsystem/common/NetworkSubsystem.java
  engine/src/main/java/org/terasology/engine/network/ServerInfoService.java
  engine/src/main/java/org/terasology/engine/network/internal/ClientConnectionHandler.java
  engine/src/main/java/org/terasology/engine/network/internal/ClientHandler.java
  engine/src/main/java/org/terasology/engine/network/internal/ClientHandshakeHandler.java
  engine/src/main/java/org/terasology/engine/network/internal/LocalClient.java
  engine/src/main/java/org/terasology/engine/network/internal/NetClient.java
  engine/src/main/java/org/terasology/engine/network/internal/NetworkSystemImpl.java
  engine/src/main/java/org/terasology/engine/network/internal/ServerConnectionHandler.java
  engine/src/main/java/org/terasology/engine/network/internal/ServerHandshakeHandler.java
  engine/src/main/java/org/terasology/engine/network/internal/ServerImpl.java
  engine/src/main/java/org/terasology/engine/network/internal/pipelineFactory/InfoRequestPipelineFactory.java
  engine/src/main/java/org/terasology/engine/network/internal/pipelineFactory/TerasologyClientPipelineFactory.java
  engine/src/main/java/org/terasology/engine/network/internal/pipelineFactory/TerasologyServerPipelineFactory.java
  engine/src/main/java/org/terasology/engine/rendering/nui/layers/mainMenu/JoinGameScreen.java
Labels: Multiplayer, Size: M, Topic: Stabilization, Status: Needs Testing, Type: Chore

#5041 test(MTE)! set default NetworkMode to NONE
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/Engines.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/jupiter/IntegrationEnvironment.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/ClientConnectionTest.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/ExampleTest.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/delay/DelayManagerTest.java
Labels: Category: Test/QA, Size: S

#5043 fixup! test(MTE)! set default NetworkMode to NONE (#5041)
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/ChunkRegionFutureTest.java
Labels: Type: Bug, Category: Test/QA

#5039 test(MTE): replace IsolatedMTEExtension with JUnit's TestInstance.Lifecycle
  .idea/inspectionProfiles/Terasology.xml
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/Engines.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/Scopes.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/jupiter/IsolatedMTEExtension.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/jupiter/MTEExtension.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/jupiter/package-info.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/IsolatedEngineTest.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/LifecyclePerClassInjectionTest.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/LifecyclePerMethodInjectionTest.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/MTEExtensionTestWithPerMethodLifecycle.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/NestedTest.java
Labels: Category: Test/QA, Category: Crash

#5044 test(MTE): allow a test to add its own EngineSubsystem
  engine-tests/build.gradle
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/Engines.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/IntegrationEnvironmentSubsystem.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/jupiter/IntegrationEnvironment.java
  engine-tests/src/main/java/org/terasology/engine/integrationenvironment/jupiter/MTEExtension.java
  engine-tests/src/main/java/org/terasology/engine/testUtil/Correspondences.java
  engine-tests/src/main/java/org/terasology/engine/testUtil/WithUnittestModule.java
  engine-tests/src/test/java/org/terasology/engine/integrationenvironment/CustomSubsystemTest.java
Labels: Category: Test/QA, Size: S

#5048 fix(TypeHandlerLibrary): fix error-during-error-logging in GenericMap
  subsystems/TypeHandlerLibrary/src/main/java/org/terasology/persistence/typeHandling/coreTypes/GenericMapTypeHandler.java
  subsystems/TypeHandlerLibrary/src/main/java/org/terasology/persistence/typeHandling/coreTypes/ObjectFieldMapTypeHandler.java
  subsystems/TypeHandlerLibrary/src/main/java/org/terasology/persistence/typeHandling/coreTypes/RuntimeDelegatingTypeHandler.java
  subsystems/TypeHandlerLibrary/src/main/java/org/terasology/persistence/typeHandling/inMemory/PersistedMap.java
  subsystems/TypeHandlerLibrary/src/main/java/org/terasology/persistence/typeHandling/inMemory/PersistedString.java
  subsystems/TypeHandlerLibrary/src/main/java/org/terasology/reflection/reflect/ConstructorLibrary.java
  subsystems/TypeHandlerLibrary/src/test/java/org/terasology/persistence/typeHandling/coreTypes/GenericMapTypeHandlerTest.java
Labels: Type: Bug, Topic: Stabilization, Size: S

#5052 chore(EntityPool): workaround "unchecked generics array creation" for getEntitiesWith
  engine/src/main/java/org/terasology/engine/entitySystem/entity/EntityPool.java
Labels: Size: S, Type: Chore, Type: Refactoring

#5054 fix: do not run behavior simulation while paused
  engine/src/main/java/org/terasology/engine/logic/behavior/BehaviorSystem.java
Labels: Type: Bug

#5029 performance(network): shutdown faster with parallization
  engine/build.gradle
  engine/src/main/java/org/terasology/engine/core/modes/loadProcesses/PrepareWorld.java
  engine/src/main/java/org/terasology/engine/network/internal/NetworkSystemImpl.java
Labels: Category: Performance, Category: Test/QA, Size: S
