Repository MovingBlocks/Terasology, pull requests merged in 2024-03, with the labels that each got.

#5208 feat: prevent serialisation of private component fields
  engine-tests/src/test/java/org/terasology/engine/persistence/serializers/TypeSerializerTest.java
  engine-tests/src/test/java/org/terasology/engine/persistence/serializers/VectorTypeSerializerTest.java
  engine-tests/src/test/java/org/terasology/engine/persistence/typeHandling/mathTypes/BlockAreaTypeHandlerTest.java
  subsystems/TypeHandlerLibrary/src/main/java/org/terasology/persistence/typeHandling/coreTypes/ObjectFieldMapTypeHandler.java
  subsystems/TypeHandlerLibrary/src/main/java/org/terasology/persistence/typeHandling/coreTypes/factories/ObjectFieldMapTypeHandlerFactory.java
  subsystems/TypeHandlerLibrary/src/test/java/org/terasology/persistence/typeHandling/coreTypes/factories/ObjectFieldMapTypeHandlerFactoryTest.java
Labels: Type: Improvement

#5218 doc: remove gooey tour link
  docs/Contributor-Quick-Start.md
Labels: Category: Doc

#5221 chore: remove year from idea copyright template
  .idea/copyright/Terasology_Foundation.xml
Labels: Topic: Stabilization, Category: Test/QA, Size: S, Type: Chore

#5222 doc: link TypeHandlerLibrary readme
  docs/Serialization-Overview.md
Labels: Category: Doc, Type: Chore
